*swp
*pyc
*eps
*png
*html
.DS_Store
*txt
code/bin_shock_time.py
code/dtw_example_agu_fall_2018.py
code/event_distributions.py
code/find_shocks.py
code/loop_train_shocks_ace.py
code/loop_train_shocks_dscovr.py
code/loop_train_shocks_power.py
code/loop_train_shocks_soho.py
code/loop_train_shocks_soho_power.py
code/loop_train_shocks_wind.py
code/match_mikes_big_events.py
code/matching_events.py
code/model_20161221_0843.py
code/plot_soho.py
code/plot_space_craft_distributions.py
code/test_themis.py
code/testing_tslearn.py
doc/source/cdf/get_cdf_files.rst
docs/index.html
docs/index.rst.old
html_files/wind_level_0980.html`
